.paginationBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.paginationBox button {
  padding: 0;
  width: 30px;
  height: 30px;
  border: 3px solid var(--bcgGreen);
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 200ms ease-in;
}

.paginationBox button:hover {
  background-color: var(--bcgGreen);
}

.disabled {
  border: none;
  background-color: rgba(128, 128, 128, 0.2);
  cursor: auto;
}

.current {
  background-color: var(--accentGreen);
  color: white;
}
