.table {
  width: 85%;
  border-collapse: collapse;
  margin: 0 auto;
  border-radius: 25px;
  background-color: var(--bcgGreen);
  overflow: hidden;

  font-size: 11px;
}

.table th,
.table td {
  padding: 5px;
  border: 1px solid rgba(18, 20, 23, 0.1);
}

.table th {
  background-color: var(--accentGreen);
  color: var(--btnWhite);
}

.table tbody tr:nth-child(even),
table tbody tr:nth-child(even) td input {
  background-color: var(--accentGreen);
  color: var(--btnWhite);
}

.table tbody tr:nth-child(even) td button svg {
  fill: var(--btnWhite);

}

.table tbody tr:nth-child(odd),
.table tbody tr:nth-child(odd) td input {
  background-color: var(--bcgGreen);
  color: var(--accentGreen);
}

.table tbody tr:nth-child(odd) td button svg {
  fill: var(--accentGreen);
  
}

td input {
  border: none;
}

/* .table button {
  font-size: 10px;
  background-color: var(--accentGreen);
  color: var(--btnWhite);
  padding: 3px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 3px;
} */

button svg {
  stroke:var(--accentGreen);

}

.table-edit-buttons {
  display: flex;
  justify-content: center;
}
