.tableBox {
  display: flex;
  gap: 50px;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.table {
  width: 85%;
  border-collapse: collapse;
  margin: 0 auto;
  border-radius: 20px;
  background-color: var(--bcgGreen);
  overflow: hidden;

  font-size: 11px;
}

.table th,
.table td {
  padding: 5px;
  border: 1px solid rgba(18, 20, 23, 0.1);

  max-width: 100px;
  /* Максимальная ширина колонки */
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table th {
  height: 30px;
  position: relative;
  background-color: var(--accentGreen);
  color: var(--btnWhite);
}

.table tbody tr:nth-child(even),
table tbody tr:nth-child(even) td input {
  background-color: var(--accentGreen);
  color: var(--btnWhite);
}

.table tbody tr:nth-child(even) td button svg {
  fill: var(--btnWhite);
}

.table tbody tr:nth-child(odd),
.table tbody tr:nth-child(odd) td input {
  background-color: var(--bcgGreen);
  color: var(--accentGreen);
}

.table tbody tr:nth-child(odd) td button svg {
  fill: var(--accentGreen);
}

td input {
  border: none;
  font-size: 11px;
  width: 100%;
}

button svg {
  stroke: var(--accentGreen);
}

.table-edit-buttons {
  display: flex;
  justify-content: center;
}

.messageError {
  /* position: absolute;
    bottom: -19px; */
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 8px;
  font-weight: 400;
  line-height: calc(18 / 12);
  letter-spacing: 0.12px;
  color: #d80027;
}

.sorted {
  font-size: 12px;
  text-shadow: 3px 3px 6px rgba(244, 237, 237, 0.3);
}

th svg {
  position: absolute;
  top: 3px;
  right: 1px;
  fill: white;
  transition: all 0.3s ease;
}

th svg:hover {
  fill: rgb(34, 233, 16);
  transition: all 0.3s ease;
}
